#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
			%h2 Organize
			%p We are currently looking for experienced Frontend developers for Devexperts. One of the leaders in full-blown capital markets trading software development. The company has been existing for 17 years so far. The last year new offices were opened in Sofia and Portu. The company has offices in Saint Petersburg, München, Chicago, Tokyo and Lausanne as well.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		%button= link_to "Join Now", new_user_registration_path